@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    font-size: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter', sans-serif;
  }
  /*
    6. Improve media defaults
  */
  img, picture {
    display: block;
    max-width: 100%;
    height: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
 button {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2 {
    overflow-wrap: break-word;
  }

  footer {
    margin-top: 40px;
  }